body {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

p {
  font-family: Titillium Web;
}




a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #009FD9;
  position: sticky;
  top: 0;
  margin-top: -20px;
}







h1{

  font-family: 'Lobster', cursive;
  padding-top: 10px;
  padding-left : 10px;

}




h2 {
  font-size: 0.9em;
  font-family: 'Lobster', cursive;
  padding-left : 10px;
  color: white;
}

header input {
  display: none;
}

li ul {
  display: none;

}

nav ul li:focus ul {

  display: block;
}

nav ul li:hover ul {

  display: block;
  position: relative;
  left: -20px;
}

nav a {
  color: black;
  font-family: 'Lobster'
}

nav a:hover {
  color: white;

}


#menu {
  width:100%;
  text-align: center;
  position: relative;
  left :-30px;
}

main {
  width: 100%;
}
.accueil-interieur,.accueil-enterree, .accueil-horssol, .accueil-spa {
  width: 90%;
  margin: auto;
  text-align: justify;
  box-shadow: 2px 2px 2px #009FD9;
  padding: 10px;
  margin-bottom: 20px;


}

h3 {
  text-align: center;
  font-family: Pavanam;
}

section img {
  width : 250px;
  display: block;
  margin: auto;

}

.realisation {
  display: none;
}

video {
  display: none;
}

footer {

  background-color: #0090D2;
  margin-top: 20px;
  height: 90px;
}

address, footer section {
  display: inline-block;
  /*vertical-align: top;*/
  text-align: center;
  font-size: 0.8em;
  width: 47%
}

/**********************************tarifs.html********************************/
table {
  width : 95%;
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 30px;
}

thead, th,td,tr {
  border: 2px solid #0090D2  ;

  text-align: center;
  font-size: 0.9em;
}



/*********************************************************Tablette***************************/

@media (min-width : 750px) {

  header {
    position: relative;
  }

  header input {
    display: inline-block;
    position: absolute;
    right :20px;
    top : 30px;
  }

  .realisation {
    display: block;

    width: 100%;

  }

  .realisation figure:nth-child(4),.realisation figure:nth-child(5) {
    display: none;

  }

  .realisation figure {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    text-align: center;
    margin-left: 2.9%;

  }

  .realisation img {
    width : 200px;
    height: 150px;
    margin-bottom: 10px;
  }

  .accueil-interieur, .accueil-enterree, .accueil-horssol, .accueil-spa {
    width : 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 6%;

  }

  .accueil-interieur img,.accueil-enterree img, .accueil-horssol img, .accueil-spa img {

    width : 150px;
    height: 100px;
    float: left;
    margin-right: 10px;
  }
.accueil-spa  {
  position: relative;
  bottom : 23px;
}


}

/**********************************************PC************************************************/
@media (min-width : 1100px) {



  .realisation  {
    width: 20%;
    position: absolute;
    right : 0;
  }

  .realisation figure,.realisation figure:nth-child(4),.realisation figure:nth-child(5) {
    display: block;
    margin: auto;
    margin-bottom: 15px;

  }

  .accueil-interieur, .accueil-enterree, .accueil-horssol, .accueil-spa {
    width: 30%;
  }
 .accueil-interieur img,.accueil-enterree img, .accueil-horssol img, .accueil-spa img {

   width : 250px;
   height: 150px;
 }
 nav .material-icons {
   display: none;
 }

#menu ul {
   display: inline-block;
   width: 100%;
   position: relative;
   right : 34px;
 }

 nav ul li {
   display: inline-block;
   width: 30%;
   padding-bottom: 10px;


 }

 nav ul li:hover {

   position :relative;
   right : 13px;

 }


}
